# Sources and Dev configs
src/
tests/
_archs/
vitest.config.ts
tsconfig.json
tsup.config.ts
package-lock.json

# Gencodedoc
.gencodedoc/
.gencodedoc.yaml

# Documentation
docs/dev/
docs/ia/
*.md
!README.md
!CHANGELOG.md
!LICENSE

# Logs and Debug
*.log
*.ts
!dist/**/*.js
*.js
*.cjs

# Misc
.gitignore
.npmignore
.npmrc
.env
.env.local
.DS_Store
Thumbs.db
